/* Google Font Link Here */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Tailwind And DaisyUI Link Here */
@import 'tailwindcss';
@plugin "daisyui";

html,
body {
  @apply bg-[#F5F5F5];
}

.font-heading {
  font-family: 'Poppins', sans-serif;
}
.font-p {
  font-family: 'Inter', sans-serif;
}

/* Navbar Style */
.logo-name-style {
  @apply text-lg md:text-2xl font-semibold bg-gradient-to-r from-blue-400 via-sky-400 to-indigo-500 bg-clip-text text-transparent drop-shadow-[0_0_10px_#60a5fa] leading-tight;
}

.nav-link {
  @apply text-gray-500 pb-1 transition-all duration-400 text-sm md:text-lg font-semibold;
}

.nav-link:hover {
  @apply bg-gradient-to-r from-sky-400 to-blue-500 bg-clip-text text-transparent border-b border-sky-400;
}

.nav-link-active {
  @apply bg-gradient-to-r from-sky-400 to-blue-500 bg-clip-text text-transparent border-b-2 border-sky-500 drop-shadow-[0_0_8px_#38bdf8] text-base md:text-2xl font-semibold transition-all duration-400;
}

.nav-btn {
  @apply px-2 md:px-4 py-2 rounded-md md:font-semibold 
  bg-gradient-to-r from-sky-500 to-blue-600 
  text-white shadow-[0_0_12px_#38bdf8]
  transition-all duration-500;
}

.nav-btn:hover {
  @apply from-blue-500 to-sky-600 shadow-[0_0_18px_#60a5fa]  scale-[1.03] cursor-pointer;
}

/* Hero Section Style */
.hero-card {
  @apply md:h-48 w-full md:w-72 flex flex-col justify-center border-none rounded-2xl p-6 text-white transition-all duration-600 hover:-translate-y-1 hover:shadow-lg hover:shadow-black/20;
}

.hero-card-details {
  @apply text-3xl md:text-6xl text-transparent font-bold md:font-semibold bg-clip-text bg-gradient-to-r from-[#E0E7FF] to-[#F5D0FE] my-3;
}

.hero-btn {
  @apply h-12 w-auto transform transition-all duration-600 hover:-translate-y-1 hover:scale-105 hover:shadow-[0_5px_15px_rgba(0,0,0,0.25)];
}

/* Trending Apps Style */

.secondary-btn-style {
  @apply px-5 md:px-10 py-3 rounded-md font-medium text-white 
             bg-gradient-to-r from-violet-500 to-indigo-500
             shadow-md hover:shadow-lg hover:scale-[1.03]
             transition-all duration-500;
}

.trending-card-style {
  @apply p-4 rounded-2xl bg-white/80 backdrop-blur-md border border-slate-200
     transition-all duration-500 hover:-translate-y-1 hover:border-sky-300 hover:ring-1 hover:ring-sky-200/50 hover:shadow-lg hover:shadow-sky-100/40;
}

/* All Apps Style */
.apps-input {
  @apply flex items-center gap-2 w-44 md:w-[350px] rounded-lg border border-slate-200 bg-white px-2 md:px-4 py-1 md:py-2 text-slate-700 shadow-sm focus-within:ring-2 focus-within:ring-violet-500/40 focus-within:border-violet-500 transition duration-500;
}

.apps-input input {
  @apply bg-transparent outline-none text-base placeholder:text-slate-400 placeholder:text-sm md:placeholder:text-base;
}

.apps-input svg {
  @apply text-slate-400 transition-colors duration-500 group-focus-within:text-violet-500;
}

/* App Details Style */
.download-card {
  @apply rounded-xl px-4 py-3 text-center bg-white/70 backdrop-blur-sm border border-white/50
        shadow-[0_6px_16px_-4px_rgba(0,0,0,.12),0_3px_6px_-2px_rgba(0,0,0,.06)] mt-1 sm:mt-0;
}

.rating-card {
  @apply rounded-xl px-4 py-3 text-center bg-white/80 backdrop-blur-sm md:backdrop-blur-none border md:border-0 border-white/60
  ring-1 ring-orange-400/25 shadow-lg shadow-orange-500/20
  relative z-10 -translate-y-1.5
  transition-transform duration-300
  md:ring-0 md:shadow-none md:translate-y-0 md:bg-transparent;
}

.total-reviews-card {
  @apply rounded-xl px-4 py-3 text-center bg-white/70 backdrop-blur-sm border border-white/50
          shadow-[0_6px_16px_-4px_rgba(0,0,0,.12),0_3px_6px_-2px_rgba(0,0,0,.06)] mt-1 sm:mt-0;
}

.install-btn {
  @apply px-16 py-3 mt-4 rounded-lg text-white font-semibold
 bg-emerald-500 hover:bg-emerald-600 shadow-[0_4px_12px_rgba(16,185,129,0.25)] transition-colors duration-700 cursor-pointer disabled:from-emerald-200 disabled:to-emerald-200
 disabled:opacity-70 disabled:border disabled:border-emerald-300
disabled:shadow-none disabled:cursor-not-allowed disabled:text-white ;
}

/* Installation Page */
.uninstall-btn {
  @apply bg-rose-500 hover:bg-rose-400 text-white font-medium rounded-lg shadow-[0_4px_10px_rgba(244,63,94,0.3)] transition-colors duration-500 cursor-pointer px-2 md:px-5 py-1.5;
}

.install-card-main {
  @apply p-5 md:p-6 rounded-2xl  
         bg-white/70 backdrop-blur-sm ring-1 ring-slate-200/60 shadow-[0_2px_20px_rgba(2,6,23,0.04)] hover:ring-slate-300 hover:shadow-[0_6px_24px_rgba(2,6,23,0.06)] transition-all duration-500 hover:-translate-y-1 flex flex-col md:flex-row items-center justify-between;
}

.sort-style {
  @apply w-44 md:w-full
      appearance-none rounded-lg border border-slate-200 bg-white px-3 py-3 pr-8 text-sm font-medium text-slate-700 shadow-sm outline-none transition hover:border-slate-300 focus:border-sky-400 focus:ring-4 focus:ring-sky-100 cursor-pointer;
}

/* Footer */
.footer-style {
  @apply relative overflow-hidden bg-gradient-to-t from-[#f8fafc] to-white border-t border-slate-200 py-10 px-8;
}

.anchor-style {
  @apply relative inline-block cursor-pointer text-slate-600 hover:text-slate-900 transition
after:absolute after:left-0 after:-bottom-0.5 after:h-[2px] after:w-0 after:bg-gradient-to-r after:from-indigo-500 after:to-sky-500 after:rounded-full after:transition-all after:duration-300 hover:after:w-full hover:after:shadow-[0_0_10px_rgba(56,189,248,0.7)];
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
  .animate-spin-medium {
    animation: spin 1.5s linear infinite;
  }
  .animate-spin-fast {
    animation: spin 0.5s linear infinite;
  }
}
